# Task 12

In [2]:
%%file dataset.csv
Name, Age, Department, Salary
Alice, 28, HR, 50000
Bob, 35, IT, 70000
Charlie, 45, Finance, 60000
David, 32, IT, 80000
Eva, 29, Marketing, 45000
Frank, 41, HR, 55000
Grace, 38, Finance, 62000
Henry, 50, IT, 90000
Isabel, 27, Marketing, 48000
Jack, 30, HR, 52000

Writing dataset.csv

In [11]:
import pandas as pd
import numpy as np

# Q1
data_list = [10, 20, 30, 40, 50]
series_from_list = pd.Series(data_list)
print("Series from list:")
print(series_from_list)


data_array = np.array([10, 20, 30, 40, 50])
series_from_array = pd.Series(data_array)
print("\nSeries from numpy array:")
print(series_from_array)


data_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
series_from_dict = pd.Series(data_dict)
print("\nSeries from dictionary:")
print(series_from_dict)

# Q2
custom_index = ['A', 'B', 'C', 'D', 'E']
series_custom_index = pd.Series(data_list, index=custom_index)
print("\nSeries with custom index:")
print(series_custom_index)

# Q3
print("\nAdding 5 to each element in the series:")
print(series_from_list + 5)
print(series_from_list * 10)
print(series_from_list - 5)

# Q4
print("\nAccessing elements by index label 'B':")
print(series_custom_index['B'])

print("\nAccessing elements by position 2:")
print(series_custom_index[2])

# Q5
threshold = 18
filtered_series = series_from_list[series_from_list > threshold]
print("\nFiltered series with values greater than 18:")
print(filtered_series)

# Q6
data_dict_of_lists = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df_from_dict = pd.DataFrame(data_dict_of_lists)
print("\nDataFrame from dictionary of lists:")
print(df_from_dict)

# Q7
data_array_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])
df_from_array = pd.DataFrame(data_array_2d, columns=['A', 'B', 'C'], index=['Row1', 'Row2', 'Row3', 'Row4'])
print("\nDataFrame from numpy array:")
print(df_from_array)


# Q8
df = pd.read_csv('dataset.csv')
print("DataFrame loaded from CSV file:")
print(df)

# Q9
print("\nFirst five rows of the DataFrame:")
print(df.head())

print("\nLast five rows of the DataFrame:")
print(df.tail())

# Q10
print("\nSummary of the DataFrame:")
print(df.describe())

# Q11
age_column = df[' Age']
print("\nAge column extracted as a Series:")
print(age_column)

# Q12
filtered_rows_salary = df[df[' Salary'] > 60000]
print("\nRows where Salary is greater than 60000:")
print(filtered_rows_salary)

# Q13
multiple_conditions = df[(df[' Age'] > 30) & (df[' Department'] == 'IT')]
print("\nRows where Age is greater than 30 and Department is IT:")
print(multiple_conditions)

# Q14
df['Bonus'] = df[' Salary'] * 0.1
print("\nDataFrame after adding new column Bonus:")
print(df)

# Q15
df.drop('Bonus', axis=1, inplace=True)
print("\nDataFrame after deleting column Bonus:")
print(df)

# Q16
df.rename(columns={'Name': 'Employee Name', 'Age': 'Employee Age', 'Department': 'Dept', 'Salary': 'Annual Salary'}, inplace=True)
print("\nDataFrame after renaming columns:")
print(df)

Series from list:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Series from numpy array:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Series from dictionary:
a    10
b    20
c    30
d    40
e    50
dtype: int64

Series with custom index:
A    10
B    20
C    30
D    40
E    50
dtype: int64

Adding 5 to each element in the series:
0    15
1    25
2    35
3    45
4    55
dtype: int64
0    100
1    200
2    300
3    400
4    500
dtype: int64
0     5
1    15
2    25
3    35
4    45
dtype: int64

Accessing elements by index label 'B':
20

Accessing elements by position 2:
30

Filtered series with values greater than 18:
1    20
2    30
3    40
4    50
dtype: int64

DataFrame from dictionary of lists:
   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

DataFrame from numpy array:
       A   B   C
Row1   1   2   3
Row2   4   5   6
Row3   7   8   9
Row4  10  11  12
DataFrame loaded from CSV file:
      Name   Age  Department   Salary
0    Alice    28          HR    50000
1      Bob    35          IT    70000
2  Charlie    45     Finance    60000
3    David    32          IT    80000
4      Eva    29   Marketing    45000
5    Frank    41          HR    55000
6    Grace    38     Finance    62000
7    Henry    50          IT    90000
8   Isabel    27   Marketing    48000
9     Jack    30          HR    52000

First five rows of the DataFrame:
      Name   Age  Department   Salary
0    Alice    28          HR    50000
1      Bob    35          IT    70000
2  Charlie    45     Finance    60000
3    David    32          IT    80000
4      Eva    29   Marketing    45000

Last five rows of the DataFrame:
     Name   Age  Department   Salary
5   Frank    41          HR    55000
6   Grace    38     Finance    62000
7   Henry    50          IT    90000
8  Isabel    27   Marketing    48000
9    Jack    30          HR    52000

Summary of the DataFrame:
             Age        Salary
count  10.000000     10.000000
mean   35.500000  61200.000000
std     7.820912  14710.540439
min    27.000000  45000.000000
25%    29.250000  50500.000000
50%    33.500000  57500.000000
75%    40.250000  68000.000000
max    50.000000  90000.000000

Age column extracted as a Series:
0    28
1    35
2    45
3    32
4    29
5    41
6    38
7    50
8    27
9    30
Name:  Age, dtype: int64

Rows where Salary is greater than 60000:
    Name   Age  Department   Salary
1    Bob    35          IT    70000
3  David    32          IT    80000
6  Grace    38     Finance    62000
7  Henry    50          IT    90000

Rows where Age is greater than 30 and Department is IT:
Empty DataFrame
Columns: [Name,  Age,  Department,  Salary]
Index: []

DataFrame after adding new column Bonus:
      Name   Age  Department   Salary   Bonus
0    Alice    28          HR    50000  5000.0
1      Bob    35          IT    70000  7000.0
2  Charlie    45     Finance    60000  6000.0
3    David    32          IT    80000  8000.0
4      Eva    29   Marketing    45000  4500.0
5    Frank    41          HR    55000  5500.0
6    Grace    38     Finance    62000  6200.0
7    Henry    50          IT    90000  9000.0
8   Isabel    27   Marketing    48000  4800.0
9     Jack    30          HR    52000  5200.0

DataFrame after deleting column Bonus:
      Name   Age  Department   Salary
0    Alice    28          HR    50000
1      Bob    35          IT    70000
2  Charlie    45     Finance    60000
3    David    32          IT    80000
4      Eva    29   Marketing    45000
5    Frank    41          HR    55000
6    Grace    38     Finance    62000
7    Henry    50          IT    90000
8   Isabel    27   Marketing    48000
9     Jack    30          HR    52000

DataFrame after renaming columns:
  Employee Name   Age  Department   Salary
0         Alice    28          HR    50000
1           Bob    35          IT    70000
2       Charlie    45     Finance    60000
3         David    32          IT    80000
4           Eva    29   Marketing    45000
5         Frank    41          HR    55000
6         Grace    38     Finance    62000
7         Henry    50          IT    90000
8        Isabel    27   Marketing    48000
9          Jack    30          HR    52000

# Extra Questions

In [5]:
import pandas as pd
import numpy as np
# Create a DataFrame from the provided data
data = {
    'education': ['Bachelors', 'Bachelors', 'HS-grad', '11th', 'Bachelors'],
    'age': [39, 50, 38, 53, 28],
    'capital-gain': [2174, '?', '?', '?', 0],
    'race': ['White', 'White', 'White', 'Black', 'Black'],
    'capital-loss': [0, 0, 0, 0, 0],
    'hours-per-week': [40, 13, 40, 40, 40],
    'gender': [1, 1, 1, 1, 0],
    'classification': ['<=50K', '<=50K', '<=50K', '<=50K', '<=50K']
}

df = pd.DataFrame(data)

# Question 1: How many rows and columns are there in the dataset?
num_rows, num_columns = df.shape
print(f"Question 1: There are {num_rows} rows and {num_columns} columns in the dataset.")

# Question 2: How many missing values are there in the 'capital-gain' column?
missing_values = df['capital-gain'].str.contains('\?').sum()
print(f"Question 2: There are {missing_values} missing values in the 'capital-gain' column.")

# Question 3: What is the average age of individuals in the dataset?
average_age = df['age'].mean()
print(f"Question 3: The average age of individuals in the dataset is {average_age} years.")

# Question 4: How many unique education levels are there in the dataset?
unique_education_levels = df['education'].nunique()
print(f"Question 4: There are {unique_education_levels} unique education levels in the dataset.")

# Question 5: What is the most common race in the dataset?
most_common_race = df['race'].mode()[0]
print(f"Question 5: The most common race in the dataset is '{most_common_race}'.")

# Question 6: How many records belong to the 'Male' gender category?
male_count = df[df['gender'] == 1].shape[0]
print(f"Question 6: There are {male_count} records with 'Male' gender category.")

# Question 7: What is the maximum value in the 'hours-per-week' column?
max_hours_per_week = df['hours-per-week'].max()
print(f"Question 7: The maximum value in the 'hours-per-week' column is {max_hours_per_week}.")

# Question 8: How many unique values are there in the 'classification' column?
unique_classification_values = df['classification'].nunique()
print(f"Question 8: There are {unique_classification_values} unique values in the 'classification' column.")

# Question 9: How many individuals have 'capital-loss' greater than 0?
capital_loss_greater_than_0 = df[df['capital-loss'] > 0].shape[0]
print(f"Question 9: {capital_loss_greater_than_0} individuals have 'capital-loss' greater than 0.")



# Question 10: What is the average age for each unique education level?
average_age_by_education = df.groupby('education')['age'].mean()
print("Question 10: Average age by education level:")
print(average_age_by_education)

# Question 11: How many individuals belong to each 'classification' category within each 'race'?
classification_counts_by_race = df.groupby(['race', 'classification']).size().unstack()
print("Question 11: Classification counts by race:")
print(classification_counts_by_race)

# Question 12: What is the maximum 'hours-per-week' worked by individuals in each 'gender' category?
max_hours_per_week_by_gender = df.groupby('gender')['hours-per-week'].max()
print("Question 12: Maximum hours-per-week by gender:")
print(max_hours_per_week_by_gender)

# Question 13: What is the average 'age' and 'hours-per-week' worked by each 'gender' within each 'classification' category?
average_age_hours_by_gender_classification = df.groupby(['gender', 'classification'])[['age', 'hours-per-week']].mean()
print("Question 13: Average age and hours-per-week by gender and classification:")
print(average_age_hours_by_gender_classification)

Question 1: There are 5 rows and 8 columns in the dataset.
Question 2: There are 3 missing values in the 'capital-gain' column.
Question 3: The average age of individuals in the dataset is 41.6 years.
Question 4: There are 3 unique education levels in the dataset.
Question 5: The most common race in the dataset is 'White'.
Question 6: There are 4 records with 'Male' gender category.
Question 7: The maximum value in the 'hours-per-week' column is 40.
Question 8: There are 1 unique values in the 'classification' column.
Question 9: 0 individuals have 'capital-loss' greater than 0.
Question 10: Average age by education level:
education
11th         53.0
Bachelors    39.0
HS-grad      38.0
Name: age, dtype: float64
Question 11: Classification counts by race:
classification  <=50K
race
Black               2
White               3
Question 12: Maximum hours-per-week by gender:
gender
0    40
1    40
Name: hours-per-week, dtype: int64
Question 13: Average age and hours-per-week by gender and classification:
                        age  hours-per-week
gender classification
0      <=50K           28.0           40.00
1      <=50K           45.0           33.25